<%= form_with model:@product do |form| %>
    
    <% if @product.errors.any? %>
        <div class="mb-4">
            <% @product.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
        </div>
    <% end %>
    
    <div class="mb-4">
        <%= form.text_field :name, placeholder:"Nombre del producto", class:"appearance-none block w-full py-3 px-4  text-gray-700 bg-gry-50 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none" %> 
    </div>
    <div class="mb-4">
        <%= form.text_area :description, placeholder:"Descripición del producto", class:"appearance-none block w-full py-3 px-4  text-gray-700 bg-gry-50 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none" %> 
    </div>
    <div class="mb-4">
        <%= form.label "Visible" %>
        <%= form.check_box :visible %>
    </div>
    <div class="mb-4">
        <%= form.submit "Guardar Cambios", class:"cursor-pointer inline-block  py-4 px-8 leading-none text-white bg-red-600 hover:bg-red-700 font-semibold rounded shadow" %>
    </div>
<% end %>